[submodule "bitLab.ViewModel"]
	path = bitLab.ViewModel
	url = https://github.com/BitLabProjects/bitLab.ViewModel.git
[submodule "bitLab.Log"]
	path = bitLab.Log
	url = https://github.com/BitLabProjects/bitLab.Log.git
